# Site Origin Configuration
# Development: http://localhost:3000
# Production: https://careerk.com
NEXT_PUBLIC_SITE_ORIGIN=http://localhost:3000

# External Backend API Configuration
# Development(mock API): http://localhost:3000/api/v1
# Production: https://api.careerk.com
BASE_API_URL=http://localhost:3000/api/v1
